extends layout
block content
	!= htmlContent    

	script(src='vendor/chart.js/Chart.min.js').
	script(src='js/demo/chart-area-demo.js').
	script(src='js/demo/chart-bar-demo.js').
	script(src='js/demo/chart-pie-demo.js').