extends layout

block content
  h1 Reset Password
  form(action='/users/password-reset-request' method='POST')
    div
      label Email
      input(type='email' name='email' required)
    div
      button(type='submit') Reset Password
  if error
    p.error #{error}
  if message
    p.message #{message}
