extends layout

block content
  h1 Reset Password
  form(action=`/users/password-reset/${token}` method='POST')
    div
      label New Password
      input(type='password' name='password' required)
    div
      button(type='submit') Reset Password
  if errors
    ul
      each error in errors
        li.error #{error.msg}
  if message
    p.message #{message}
