extends layout.pug
block baseDirectoryBlock
  != blog.BaseDirectory

block titleBlock
  title #{title}
block headStylesBlock
   != blog.HeadStylesBlock
block headScriptsBlock
   != blog.HeadScriptsBlock
block metaDescriptionBlock
   meta(name='description' content=`${metaDescription}`)
block metaKewordsBlock
   meta(name='keywords' content=`${metaKeywords}`)
block blogHeader
    != blog.BlogHeader
block content
    != htmlContent
block footer
    != blog.BlogFooter