.breadcrumbs > p {
    font-family: Epilogue, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3;
    padding: 0;
    margin: 0;
}





.hidden-image {
    position: absolute;
    height: 0px;
    width: 0px;
    left: -10000px;
    top: -10000px;
    display: none;
}

html {
    scroll-padding-top: 20px;
}

.btn-sm {
    height: 24px;
    font-family: Epilogue, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    margin-left: 0;
}

.form-control-sm {
    height: 32px;
}

.form-control,
form .btn {
    min-height: 32px;
}

.modal-content {
    font-family: Epilogue, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #232323;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-dialog, .modal-content {
    height: auto;
}

#accordionExample > p {
    color: #232323;
}

#comments section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #353535;
}


.cid-ubqkf91puQ-1 {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #353535;
}

    .cid-ubqkf91puQ-1 .inner-header {
        color: #bbbbbb;
        background-color: #353535;
    }

    .cid-ubqkf91puQ-1 .inner-header-link {
        color: #bbbbbb;
    }

    .cid-ubqkf91puQ-1 P {
        color: #bbbbbb;
        font-family: Epilogue, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .cid-ubqkf91puQ-1 a {
        text-decoration: none;
    }

.card-header {
    background-color: #353535;
    background-image: linear-gradient(180deg, #353535 10%, #232323 100%);
    background-size: cover;
    color: #fafafa;
}
.card-body {
    margin:0;
    padding:0;
}


pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
.hljs {
    background: #2b2b2b;
    color: #f8f8f2
}
/* Comment */
.hljs-comment,
.hljs-quote {
    color: #d4d0ab
}
/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #ffa07a
}
/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5ab35
}
/* Yellow */
.hljs-attribute {
    color: #ffd700
}
/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #abe338
}
/* Blue */
.hljs-title,
.hljs-section {
    color: #00e0e0
}
/* Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #dcc6e0
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

@media screen and (-ms-high-contrast: active) {
    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-string,
    .hljs-symbol,
    .hljs-type,
    .hljs-quote {
        color: highlight
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold
    }
}

.cid-reviews {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #353535;
}

    .cid-reviews .mbr-fallback-image.disabled {
        display: none;
    }

    .cid-reviews .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .cid-reviews .content-wrapper {
        background: #232323;
    }

@media (max-width: 991px) {
    .cid-reviews .content-wrapper .row {
        flex-direction: column-reverse;
    }

    .cid-reviews .content-wrapper .image-wrapper {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-reviews .content-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-review .content-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-reviews .content-wrapper {
        padding: 5rem 3rem;
    }

        .cid-reviews .content-wrapper .text-wrapper {
            padding-right: 2rem;
        }
}

.cid-reviews .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.cid-reviews .card-title {
    color: #fafafa;
}

.cid-reviews .mbr-text,
.cid-reviews .mbr-section-btn {
    color: #bbbbbb;
}

.cid-comments {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #353535;
}

    .cid-comments .mbr-fallback-image.disabled {
        display: none;
    }

    .cid-comments .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .cid-comments .content-wrapper {
        background: #232323;
    }

@media (max-width: 991px) {
    .cid-comments .content-wrapper .row {
        flex-direction: column-reverse;
    }

    .cid-comments .content-wrapper .image-wrapper {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-comments .content-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-comments .content-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-comments .content-wrapper {
        padding: 5rem 3rem;
    }

        .cid-comments .content-wrapper .text-wrapper {
            padding-right: 2rem;
        }
}

.cid-comments .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.cid-comments .card-title {
    color: #fafafa;
}

.cid-comments .mbr-text,
.cid-comments .mbr-section-btn {
    color: #bbbbbb;
}